:root {
  --primary-color: #80b444;
  --main-text-color: #303c44;
  --secondary-text-color: #98a4ac;
  --status-color: #d0dc3c;
  --bg-color: #f0f3f5;
  --table-border-color: #dee2e6;

  --border-radius: 6px;
  --transition: all ease-in 300ms;
}
