.menu__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menu__imageButton {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: var(--transition);
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
}

.menu__imageButton:hover {
  transform: scale(1.2);
}
