@import './_vars.css';
@import './header.css';
@import './page.css';
@import './table.css';

body {
  color: var(--main-text-color);
  background-color: var(--bg-color);
}

.nav-link { 
  border-bottom: 4px solid transparent;
  transition: var(--transition);
}

.nav-link:hover {
  border-color: var(--primary-color);
}
